body {
    background: linear-gradient(to right, #add8e6, white); 
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    min-height: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.navbar .logo{
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li{
    margin-left: 20px;
    margin-right: 50px;
    
}

.nav-links a{
    text-decoration: none;
    font-size: 13px;
    margin-left: 4px;
    transition: color 0.3s ease;
    color: black;
    position: relative;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #00bcd4;
    transition: width 0.3s;
  }
  
  .nav-links a:hover::after {
    width: 100%;
  }

.nav-links a:hover{
color: #00bcd4;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px; 
    padding: 50px;
}

.pic img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.caption {
    max-width: 600px;
    font-size: 18px;
    color: #333;
    line-height: 1.9;
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.caption {
    max-width: 600px;
    font-size: 18px;
    color: #333;
    line-height: 1.9;
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    font-family: 'Comic Sans MS', cursive, sans-serif;
}


h4 {
    font-size: 24px;
    color: #333;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
    margin-bottom: 20px; 
}

.testimonials {
    display: flex;
    flex-direction: row; 
    gap: 50px; 
    justify-content: center; 
}

.testimonial-item {
    font-size: 14px;
    color: #333;
    line-height: 1.9;
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    font-family: 'Comic Sans MS', cursive, sans-serif;
    max-width: 200px;
    text-align: center; 
    margin-bottom: 100px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    min-height: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}


